<IfModule mod_rewrite.c>
    RewriteEngine on
#    RewriteRule ^perlmaintask/script.sgi(.*)$  [L]
#    RewriteRule ^perlmaintask/script.cgi?(.*)$ perlmaintask/index.html$1
    RewriteRule ^profile=(.*)&userid=(.*)$ script.cgi/p=$1/u=$2  [L,QSA]
#   RewriteEngine On
#   RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

#RewriteRule ^script.cgi$ script.cgi  [L,QSA]