.blockInline
{
	display: inline-block;
}

.block
{
	display: block;
}

.news p
{
text-align: center;
}

.author,.changeNews
{
text-align: right;	
}

.left
{
    float: left;
    display: inline-block;
    width: 50%;
}

.right
{
    margin-left: 50px;
	display: inline-block;
    float: right;
    width: 45%;
}